/* bookingPC.css */
.booking-pc-container {
    max-width: 1200px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #F5F7FA;
    border: 3px solid #000000;
    border-radius: 10px;
}

.pc-layout {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    position: relative;
}

.entrance {
    writing-mode:vertical-lr;
    transform: rotate(180deg);
    font-weight: bold;
    font-size: 30px;
    margin: auto 20px ;
}

.pc-selection {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.pc {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.pc:hover {
    transform: scale(1.1);
    background-color: #e6effd;
}

.pc img {
    width: 60px; /* Sesuaikan ukuran ikon PC */
    height: 60px; /* Sesuaikan ukuran ikon PC */
}

.tutorial-button {
    width: 30%;
    justify-items: center;
    margin: 10px auto 10px;
    padding: 15px 10px;
    background-color: #2484FC;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tutorial-button a {
    color: white;
    text-decoration: none;
}

.tutorial-button:hover {
    background-color: #53a0ff;
}

@media (max-width: 768px) {
    .booking-pc-container {
        width: 300px;
        flex-wrap: wrap;
    }

    .pc-selection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .entrance {
        margin-left: -25px;
        font-size: 24px;
    }

    .pc {
        width: 50px;
    }
    .tutorial-button {
        width: 200px;
    }
}
