/* DashboardPage.css */
.dashboard-container {
    display: flex; /* Menggunakan flexbox untuk tata letak */
    justify-content: space-between; /* Memisahkan elemen utama dan profil pengguna */
    padding: 20px;
    text-align: center;
    background-color: #ffffff; /* Warna latar belakang */
}

.main-content {
    max-width: 1200px;
    min-width: 400px;
    flex: 3; /* Mengambil ruang yang tersedia */
    margin: 70px 100px 0; /* Jarak antara konten utama dan profil pengguna */

}

.mapping-jadwal, .booking-pc{
    background-color: #F5F7FA; /* Warna latar belakang */
    border-radius: 10px;
    justify-items: center;
    padding: 20px 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Bayangan lembut */ /* Jarak antar elemen */
    margin-bottom: 50px;
}
.mapping-jadwal {
    margin-bottom: 30px;
}

.booking-pc {
    margin-top: 30px;
}

.date-display {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.date-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
}

.date-item.today {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}

.user-profile {
    background-color: #ffffff; /* Warna latar belakang untuk user profile */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Bayangan lembut */
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}