.edit-profile-page {
    max-width: 800px;
    margin: 100px auto 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.edit-profile-header {
    background-color: #2196f3;
    color: white;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

.edit-profile-form {
    padding: 20px 20px 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 40%;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.save-button, .back-profile-button {
    background-color: #2196f3;
    font-size: 16px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.settings-section {
    margin-top: 10px;
    justify-items: left;
    padding: 0 25px;
}

.settings-section h2 {
    margin-bottom: 10px;
}

.change-password-button,
.logout-button {
    font-size: 14px;
    display: block;
    height: 50px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    color: black;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
}