body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.header {
  background-image: url('../../public/homepage-bg.png');
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header h1, p {
    text-align: left;
    margin: 0;
    margin-right: auto;
    margin-left: 8%;
    display: flex;
}

.landing-page {
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 40px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-top: 0px;
}

.packages, .specs, .gear {
  background-color: #007bff;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #00aaff;
}

.packages ul li:first-child {
  font-weight: bold;
  background-color: #28a745;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  color: white;
}

.packages ul li, .specs ul li, .gear ul li {
  display: flex;
  justify-content: space-between;
  border: 1px solid #00aaff;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}

.steps {
  text-align: center;
  padding: 20px;
  background-color: #e0e0e0;
  margin-top: 20px;
  border-radius: 10px;
}

.step-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.location {
  text-align: center;
  padding: 20px;
  background-color: #b3d9ff;
  margin-top: 20px;
  border-radius: 10px;
}

.map-image {
  width: 80%;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .packages, .specs, .gear {
    width: 80%;
    margin-bottom: 20px;
  }
}
