body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.header {
  background-image: url('../../public/homepage-bg.png');
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header h1, a {
  text-align: left;
  margin: 0;
}

.title {
  text-align: left;
  margin: 0;
  margin-right: auto;
  margin-left: 8%;
}

.landing-page {
  color: #333;
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.web-intro {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 20px 0;
  text-align: center;
}

.web-intro h2 {
  margin: 0;
  font-size: 1.8em;
}

.web-intro h4 {
  font-weight: normal;
}

.web-intro p {
  text-align: center;
}

.game-logos-subheading {
  text-align: center; 
  margin: 0;
  padding: 10px 0;
}

.game-logos {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin: 10px 0;
}

.game-logos img {
  width: 70px; /* Adjust size as needed */
  margin: 0 10px;
}

.steps-icons {
  display: flex;
  justify-content: center; /* Center the items */
  width: 80%;
  margin: 20px auto; /* Center the container */
  gap: 20px;
}

.step-button {
  background-color: white; /* White background for buttons */
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 150px; /* Fixed width for uniformity */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
  transition: box-shadow 0.3s;
  cursor: pointer;
  display: flex; /* Use flexbox for alignment */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  height: auto; /* Set a fixed height for uniformity */
  flex-wrap: wrap;
}

.step-button:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.step-icon {
  width: 40px; /* Adjust size of icons */
  height: auto;
  margin-bottom: 10px; /* Spacing below the icon */
}

.step-button p {
  color: black; /* Change text color to black */
  margin: 0; /* Remove default margin */
  font-weight: bold; /* Bold text */
  font-size: 1em; /* Adjust font size */
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 0px;
}

.packages {
  width: 40%;
  height: auto;
  background-color: #007bff;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-left: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #00aaff;
  text-align: left;
}

.packages h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 1.8em;
  padding: 10px 0;
  position: relative;
}

.packages ul {
  padding: 0;
  list-style: none;
}

.packages ul li:first-child {
  font-weight: bold;
  text-align: center;
  background-color: #2CB8A7;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  border: 2px solid white; /* White outline */
}

.packages ul li {
  border: 2px solid #2CB8A7; /* Green outline */
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.price-icon {
  position: absolute;
  right: 0px;
  top: 40%;
  transform: translateY(-50%);
  width: 50px;
  height: auto;
}

.right-column {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  width: 40%;
}

.specs, .gear {
  background-color: #007bff;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #00aaff;
  margin-bottom: 20px;
  text-align: left;
}

.specs h2, .gear h2 {
  margin: 0;
}

.specs ul li, .gear ul li {
  border: 1px solid #00aaff;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
}

.specs ul li span, .gear ul li span {
  display: block;
}

.packages ul li span:first-child, .specs ul li span:first-child, .gear ul li span:first-child {
  font-weight: bold;
}

.location {
  text-align: center;
  padding: 20px;
  background-color: #b3d9ff;
  margin-top: 20px;
  border-radius: 10px;
}

.map-image {
  width: 80%;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .content, .web-intro, .steps-icons, .location {
    flex-direction: column;
    align-items: center;
  }

  .header {
    height: 50vw; /* Set height to vw for smaller screens */
    width: 100%;
    font-size: 2.5vw; /* Adjust font size for better readability on smaller screens */
  }

  .title {
    margin: 0;
    margin-right: auto;
    margin-left: 5vw;
    text-align: left;
    margin-bottom: 10vw;
    margin-top: auto;
  }



  

  .packages, .right-column, .web-intro {
    width: 80%;
    margin-bottom: 20px;
  }
}
