/* Navbar.css */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
  z-index: 1000;
}

.navbar-logo img {
  height: 60px;
}

.logo-text {
  margin-left: 10px; /* Space between logo and text */
  font-size: 16px; /* Adjust as needed */
  color: white; /* Adjust color as needed */
  align-items: center;
  text-decoration: none;
}

.logo-text a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    margin-left: auto; /* Pushes the links to the right */
  }

.navbar-links a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.icon {
  height: 30px;
  margin: 0 10px;
}

.user-button {
  background-color: #32cd32;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
