/* Navbar.css */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
  z-index: 1000;
}

.navbar-logo img {
  height: 40px;
}

.navbar-links {
    display: flex;
    margin-left: auto; /* Pushes the links to the right */
  }

.navbar-links a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.icon {
  height: 30px;
  margin: 0 10px;
}

.user-button {
  background-color: #32cd32;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
