.rewards-page {
    max-width: 1200px;
    margin: 100px auto;
}

.coupon-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header-rewards {
    width: 120px;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.points {
    background-color: orange;
    background-size: 50px;
    color: white;
    margin-bottom: 20px;
    padding: 10px 10px;
    border-radius: 10px;
}

.banner {
    background-image: url(../../public/bnr-cupon.png);
    background-size: 100%;
    background-position-y: -50px;
    background-repeat: no-repeat;
    height: 350px;
    background-color: #007bff;
    color: white;
    text-align: center;
    border-radius: 20px;
    padding: 40px 0;
    margin-bottom: 20px;
}

.tag-rewards{
    margin: 100px auto;
    margin-left: 50px;
    margin-right: 800px;
    font-size: 52px;
}

.tabs {
    margin-top: -35px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab {
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 20px;
    cursor: pointer;
}


.tab.active {
    background-color: #007bff;
    color: white;
}

.coupon-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.coupon-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.coupon-type {
    font-weight: bold;
    margin-bottom: 10px;
}

.coupon-image img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.coupon-name {
    margin-bottom: 10px;
}

.coupon-price {
    font-weight: bold;
    margin-bottom: 10px;
}

.redeem-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.redeem-button:hover {
    background-color: #218838;
}

@media (max-width: 768px) {
    .header-rewards {
        margin: -20px 0 -5px 20px;
    }

    .banner {
        width: 90%;
        margin: 0 auto;
        height: 70px;
        background-repeat: no-repeat;
        background-size: 125%;
        background-position-x: -85px;
    }

    .tag-rewards{
        margin: 10px auto;
        margin-left: 20px;
        margin-right: 250px;
        font-size: 20px;
    }

    .tabs {
        margin: -15px auto 20px;
        padding: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    .tab {
        font-size: 12px;
    }
}