.booking-time{
    display: block;
    background-color: #F5F7FA; /* Warna latar belakang */
    border-radius: 10px;
    justify-items: center;
    padding: 20px 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Bayangan lembut */
    margin-bottom: 50px; /* Jarak antar elemen */
}

.time-configuration {
    max-width: 1200px;
    min-width: 400px;
    display: flex; 
    align-items: center;
    gap:40px;
    padding: 20px;
}

.booking-section {
    width: 280px;
    height: 340px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.booking-section label{
    display: inline-block;
    font-size: 18px;
    inline-size: 90%;
    text-align: left;
    padding: 3px 20px;
}

.booking-section label input{
    width: 93%;
    font-size: 18px;
}

.booking-section label select{
    width: 94%;
    font-size: 18px;
}

.booking-section h2 {
    margin-bottom: 20px;
}

button {
    background-color: #2DCC70;
    color: white;
    border: none;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2ab664;
}

.computer-info {
    width: 320px;
    padding-top: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    align-items: center;
    text-align: center;
}

.computer-info img {
    width: 80%;
    height: 150px;
    border-radius: 10px;
    margin-bottom: -10px;
}

.computer-info h2 {
    margin-bottom: 10px;
}

.info-spec {
    margin-bottom: 20px;
}

.info-spec p {
    font-size: 18px;
    align-items: left;
}

.payment-section {
    background-color: #F5F7FA; /* Warna latar belakang */
    border-radius: 10px;
    padding: 20px 30px;
    justify-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Bayangan lembut */ /* Jarak antar elemen */
    margin-bottom: 50px;
}

.payment-details {
    background-color: #ffffff; /* Warna latar belakang */
    border-radius: 10px;
    padding: 20px 30px;
    padding-bottom: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Bayangan lembut */ /* Jarak antar elemen */
    margin: 30px 0;
}

.payment-details img {
    width: 60%;
    margin: 10px 0;
}

.payment-success {
    background-color: #ffffff; /* Warna latar belakang */
    border-radius: 10px;
    padding: 20px 30px;
    padding-bottom: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Bayangan lembut */ /* Jarak antar elemen */
    margin: 25px 0;
}

.payment-success p {
    justify-content: center;
    font-size: 18px;
    margin-left: -20px;
}
