body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
}

.tutorial-container {
    margin-top: 15px;
    justify-items: center;
    padding: 70px;
}

.tutorial-content {
    background: white;
    padding: 10px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 900px;
    justify-items: center;
}

.tutorial-content h2 {
    margin-bottom: 20px;
    text-align: center;
}

.tutorial-content p{
    padding: 15px;
    text-align: center;
}

.tutorial-image {
    max-width: 700px;
    width: 100%;
    border-radius: 10px;
}