/* userProfile.css */
.user-profile {
    width: 320px;
    height: 85%;
    margin: 70px 0;
    padding: 40px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile-header h3{
    margin-bottom: 10px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #ccc;
}

.points {
    width: 80%;
    background-color: #ffcc00;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    margin-top: 5px;
}

.billing-info {
    background-color: #2062B5;
    width: 90%;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.billing-time {
    display: flex;
    align-items: center;
    justify-content: center;
}

.billing-time:before {
    content: '\f017'; /* FontAwesome clock icon */
    font-family: 'FontAwesome';
    margin-right: 5px;
}

.next-booking {
    width: 90%;
    background-color: #2062B5;
    color: #ffffff;
    padding: 10px;
    padding-top: 0px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.next-booking h4 {
    margin-bottom: 10px;
}

.booking-info {
    display: flex;
    height: 70px;
    background-color: #6DA5EB;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin: 10px 10px;
    font-size: 20px;
}

.booking-info span {
    flex: 1;
    text-align: center;
}

.next-booking button {
    background-color: #6DA5EB;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 45%;
    margin-bottom: 10px;
}

.next-booking button:hover {
    background-color: #6DA5EB;
}

.history-button {
    background-color: #2062B5;
    color: #fff;
    width: 97%;
    padding: 15px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
}

.history-button:hover {
    background-color: #6DA5EB;
}